.styled-table {
    border-collapse: collapse;
    margin: 0;
    font-size: 0.8em;
    line-height: 1.2em;
    font-family: 'Lexend Deca', sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    background-color: #262730;
    width: auto;
    white-space: nowrap;
}

.styled-table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #1a1a2e;
}

.styled-table th,
.styled-table td {
    padding: 8px 10px;
    text-align: left;
    vertical-align: top;
    color: #e0e0e0;
    border-bottom: 1px solid #4f4f4f;
    border-right: 1px solid #4f4f4f;
}
.styled-table th:first-child,
.styled-table td:first-child {
    border-left: 1px solid #4f4f4f;
}


.styled-table tbody tr:hover {
    background-color: #3b3b4f;
}

.table-container {
    overflow: auto;
    max-height: 75vh;
    width: 100%;
}

.icon-image {
    max-height: 24px;
    vertical-align: middle;
}

/* --- スクロールバーのスタイル --- */
.table-container::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.table-container::-webkit-scrollbar-track {
    background: #2e2e3e;
}
.table-container::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 3px solid #2e2e3e;
}

/* --- 列幅指定 --- */
.col-icon { min-width: 40px; }
.col-type { min-width: 150px; }
.col-start, .col-end { min-width: 130px; }
.col-days { min-width: 50px; }
.col-feat-en, .col-non-feat-en,
.col-feat-ja, .col-non-feat-ja { min-width: 200px; }
.col-event-id, .col-advertisedhero { min-width: 200px; }
.col-diff-status { min-width: 100px; }
.col-changed-parts { min-width: 180px; }
.col-c1, .col-c2, .col-c3, .col-c4, .col-c5, .col-c6,
.col-h1, .col-h2, .col-h3, .col-h4, .col-h5, .col-h6 { min-width: 180px; }
.col-h1-new, .col-h2-new, .col-h3-new, .col-h4-new, .col-h5-new, .col-h6-new,
.col-c1-new, .col-c2-new, .col-c3-new, .col-c4-new, .col-c5-new, .col-c6-new { min-width: 80px; }

/* --- questline 専用の折り返しスタイル --- */
.col-questline {
    min-width: 100px;
    max-width: 100px; /* 最大幅を指定 */
    white-space: normal; /* 折り返しを許可 */
    word-wrap: break-word; /* 単語の途中でも改行 */
}

/* --- 差分ハイライト --- */
.diff-new { background-color: #2a4c3a; }
.diff-modified { background-color: #2a3a4c; }
.diff-deleted { background-color: #333333; color: #888888; text-decoration: line-through; opacity: 0.7; }
.diff-cell-highlight-hero { background-color: #5a522a; }
.diff-cell-highlight-hero-nonfeat { background-color: #5a2a2a; }